*.a
*.cmake
*.dir
*.filters
*.node
*.sln
*.vcxproj
.babel*
.bmocharc*
.bpkgignore
.circleci/
.editorconfig
.eslint*
.git*
.mocharc*
.yarnignore
appveyor.yml
bench/
build/
CMakeCache.txt
CMakeFiles/
Debug/
docs/
etc/
Makefile
node_modules/
npm-debug.log
package-lock.json
Release/
scripts/
test/
webpack.*.js
x64/
yarn.lock
